{% extends 'AppBundle:Front:base_display.html.twig'%}
{% block mostviewbody %}
    <table class="table table-striped table-inverse">
        <thead>
            <tr>
                <th class="head_tabs">{{'Numéro de vol' | trans}}</th>
                <th class="head_tabs">{{'Compagnie' | trans}}</th>                
                <th class="head_tabs">{{'Destination' | trans}}</th>
                <th class="head_tabs">{{'Statut' | trans}}</th>
            </tr>
        </thead>
        <tbody class="content-info">

            {% for baggage in baggages %}
                <tr>
                    {# if baggage['type'] == "arrivee" and baggage['reseau'] == "international" #}
                    {% if baggage['type'] == "arrivee"  %}
                        
                        <th class="content_tabs" scope="row">{{baggage['nom_vol']}}</th>
                        <td class="content_tabs">
                            {% if baggage['logo'] != null %}
                                <img style="width: 50px; height: 50px;" src="{{ asset(baggage['logo'])}}">
                            {% endif %}
                        </td>
                        <td class="content_tabs">{{baggage['destination']}}</td>
                        
                        <td class="content_tabs">
                            {% if baggage['situationBagage'] == "arrive" %}
                               <span class="badge badge-info" style="font-size: 40px;">Arrivées<span>
                            {% elseif baggage['situationBagage'] == "livre" %}    
                                <span class="badge badge-info" style="font-size: 40px;">Livrés<span>
                            {% endif %}   
                        </td>
                    {% endif %}
                </tr>
                {% if baggage['type'] == "depart" and baggage['reseau'] == "international" %}
                    <tr>
                        <td colspan="5">{#<div class="border_final_raw"></div>#}</td>
                    </tr>
                {% endif %}
            {% endfor%}    
        </div>
        </tbody>
            
    </table>
{% endblock %}
