{% extends 'AppBundle:Front:base_display.html.twig'%}
{% block headerbody %}{% endblock %}
{% block mostviewbody %}
    <div class="row">
        <div class="col-md-10">
            <img style="width: 100%; height: 100px; padding: 0 0" src="{{ asset('Images/20170529_090019_logolg.png')}}">
            {#{% if flight[0]['logo'] != null %}
                <img style="width: 100%; height: 100%; padding: 0 0" src="{{ asset(flight[0]['logo'])}}">
            {% endif %}#}
        </div>
        <div class="col-md-2">
            {#<span style="font-size: 35px;">{{flight[0]['num_comptoir']}}</span>#}
            <span style="font-size: 35px; color: #fff;">20</span>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-md-10">
            <div class="col-md-6">
                {#<span style="font-size: 35px;">{{flight[0]['nom_vol']}}</span>#}
                <span style="font-size: 35px;  color: #fff;">TT 235</span>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <span style="font-size: 25px; color: #fff;">Heure du départ</span>
                    </div>
                    <div class="col-md-6">
                        <span style="font-size: 25px; color: #fff;"> 12:55
                            {#{% if flight[0]['type'] == "depart" %}
                                {{flight[0]['heureDepart']|date('H:i')}}
                            {% else %}
                                {{flight[0]['heureArrivee']|date('H:i')}}
                            {% endif %}#}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <span style="font-size: 25px; color: #fff;">Numéro porte d'embarquement</span>
                    </div>
                    <div class="col-md-6">
                        <span style="font-size: 35px; color: #fff;">2</span> {# TODO : A dynamiser #}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-10"> SYDNEY
            {#{% if flight[0]['type'] == "depart" %}
                {{flight[0]['destination']}}
            {% else %}
                {{flight[0]['depart']}}
            {% endif %}#}
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="font-size: 40px; color: #fff;"> CHECK-IN
                {#{% set status = flight[0]['checkIn'] %}
                {% if status == "cloture" %}
                    <span class="badge badge-warning" style="font-size: 40px;">Enregistrement clôturée</span>
                {% elseif status == "departed" %}
                    <span class="badge badge-info" style="font-size: 40px;">Parti</span>
                {% elseif status == "ouvert" %}
                    <span class="badge badge-success" style="font-size: 40px;">Enregistrement ouvert</span>
                {% endif %}#}
            </div>
        </div>
    </div>
    {#<section class="display_content">
        <div class="departures">
             <h1 align="center" style="color: #fff">COMPTOIR</h1>  
        </div>
        <table class="table table-striped table-inverse">
        	<thead>
	        	<tr>
	                <th class="head_tabs">{{'Comptoir N°' | trans}}</th>
	                <th class="head_tabs">{{'Compagnie' | trans}}</th>
	                <th class="head_tabs">{{'Numéro de vol' | trans}}</th>
	                <th class="head_tabs">{{'Destination' | trans}}</th>
	                <th class="head_tabs">{{'Programmé' | trans}}</th>
	                <th class="head_tabs">{{'Statut' | trans}}</th>
	            </tr>
            </thead>
            <tbody class="content-info">
            	<tr>
            	{% if flight[0]['type'] == "depart" %}
                        <td class="content_tabs">{{flight[0]['num_comptoir']}}</div>
                        <td class="content_tabs">
                            {% if flight[0]['logo'] != null %}
                                <img style="width: 250px; height: 75px;" src="{{ asset(flight[0]['logo'])}}">
                            {% endif %}
                        </td>
                        <td class="content_tabs">{{flight[0]['nom_vol']}}</td>
                        <td class="content_tabs">
                            {% if flight[0]['type'] == "depart" %}
                                {{flight[0]['destination']}}
                            {% else %}    
                                {{flight[0]['depart']}}
                            {% endif %}
                        </td>
                        <td class="content_tabs">
                            {% if flight[0]['type'] == "depart" %}
                                {{flight[0]['heureDepart']|date('H:i')}}
                            {% else %}    
                                {{flight[0]['heureArrivee']|date('H:i')}}
                            {% endif %}
                        </td>
                        <td class="content_tabs">
                            {% set status = flight[0]['checkIn'] %}
                            {% if status == "cloture" %}
                                <span class="badge badge-warning" style="font-size: 40px;">Enregistrement clôturée</span>
                            {% elseif status == "departed" %}    
                                <span class="badge badge-info" style="font-size: 40px;">Parti</span>
                            {% elseif status == "ouvert" %} 
                                <span class="badge badge-success" style="font-size: 40px;">Enregistrement ouvert</span>
                            {% endif %}    
                        </td>  
                    {% endif %}
                
                {% if flight[0]['type'] == "depart" %}
                    <div class="border_final_raw"></div>
                {% endif %}
 
            	</tr>
        </table>
    </section>#}
{% endblock %}
