{% extends 'AppBundle:Front:base_display.html.twig'%}
{% block headerbody %}{% endblock %}
{% block mostviewbody %}
    <div class="row">
        <div class="col-md-1" style="vertical-align: middle;" align="center">
            <span class="num_comptoir-content num_comptoir">{{flight[0]['num_comptoir']}}{#20#}</span>
        </div>
        <div class="col-md-10" align="center">
            {% if flight[0]['logo'] != null %}
                <img class="logo-content image-content logo-by" src="{{ asset(flight[0]['logo'])}}">
            {% endif %}
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="vertical-align: middle;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6" align="left">
                    <div class="label_hour">Heure du départ :</div>
                </div>
                <div class="col-md-4" align="left">
                <span class="hour-content hour-content-custom">{#12:55#}
                    {% if flight[0]['type'] == "depart" %}
                        {{flight[0]['heureDepart']|date('H:i')}}
                    {% else %}
                        {{flight[0]['heureArrivee']|date('H:i')}}
                    {% endif %}
                </span>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="vertical-align: middle;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6" align="left">
                    <div class="label_hour">Numéro porte d'embarquement :</div>
                </div>
                <div class="col-md-4" align="left">
                <span class="num_porte-content num-porte-custom">{#2,5,8#}
                    {%set programeId = flight[0]['id_programme']%}                    
                    {% for val in flight %}
                        {% if val['num_porte'] != "" and  val['num_porte'] != null and val['id_programme'] == programeId %}
                            {{val['num_porte']}} {% if (loop.index != flight|length)  %} , {% endif %}
                        {% endif %}
                    {% endfor %}
                </span> {# TODO : A dynamiser #}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-12 container-nom_vol" align="center">
            <div class="nom-vol-custom">{{flight[0]['nom_vol']}}{#TT 235#}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 destination-custom lieu-content" align="center">
            {% if flight[0]['type'] == "depart" %}
                {{flight[0]['destination']}}
            {% else %}
                {{flight[0]['depart']}}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 classe-content" align="center">
            {% set classe = flight[0]['classe'] %}
                {% if classe == "economique" %}
                    {{ 'économique'|upper }}
                {% elseif classe == "affaire" %}
                    {{ 'affaire'|upper }}
                {% elseif classe == "premiere classe" %}
                    {{ 'première classe'|upper }}
                {% endif %} 

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 status-check-custom" align="center">
            <div class="status-content status-content-custom">{#Check-in#}
                {% set status = flight[0]['checkIn'] %}
                {% if status == "cloture" %}
                    {{ 'Enregistrement clôturée'|upper }}
                {% elseif status == "departed" %}
                    {{ 'Parti'|upper }}
                {% elseif status == "ouvert" %}
                    {{ 'Enregistrement ouvert'|upper }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("app/js/jquery-3.2.1.min.js")}}"></script>
    <script>
        $(document).ready(function(){
            $('div.container-fluid').css('background-color', '#0A0B10');
            setInterval(ajaxCallCheckInBy, ajaxTimeUpdate(1) );
            setInterval(reload, ajaxTimeUpdate(1) );
        });

        function reload(){
            window.location.reload(true);
        }

        function ajaxTimeUpdate(min){
            return 1000*60*min ;
        }
        function getHour(date){
            displayDate = new Date(date);
            var hours = displayDate.getHours();
            var minutes = displayDate.getMinutes();
            var seconds = displayDate.getSeconds();
            //hours = hours % 12;
            hours = hours ? hours : '00'; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            minutes = minutes ? minutes : '00'; // the hour '0' should be '12'
            strTime = hours + ':' + minutes ;
            return strTime ;
        }

        function ajaxCallCheckInBy() {
            $.ajax({
                url : "{{path('fids_checkin_number_ajax')}}",
                methode: 'post',
                dataType: 'json',
                data: {
                    id : '{{app.request.get("id")}}',
                },
                success : function (resData) {
                    var allPorte = ''
                    var programeId = resData[0].id_programme
                    $.each(resData, function (index, value){
                        commat = '';
                        if(index+1 < resData.length ){
                            commat = ', ';
                        }
                        if (programeId == value['id_programme'] && value['num_porte'] != "" &&  value['num_porte'] != null){
                            allPorte += value['num_porte'] +''+commat;

                        }
                        
                    });

                    if(resData[0].logo != ''){
                        var content = resData[0].logo;
                        if(window.location.href.indexOf('app_dev.php') !== -1) {
                            logo = '{{ app.request.getSchemeAndHttpHost() ~ '/fids/web/' }}';
                            $(".image-content").attr("src", logo + '/' + content);
                        } else {
                            $(".image-content").attr("src", '/' + content);
                        }
                    }

                    $('.num_comptoir-content').text(resData[0].num_comptoir);
                    $('.nom_vol-content').text(resData[0].nom_vol);
                    var date = ''
                    var lieu = ''
                    if(resData[0].type == "depart"){
                        date =resData[0].heureDepart.date
                        lieu = resData[0].destination

                    }else {
                        date =resData[0].heureArrivee.date
                        lieu = resData[0].depart

                    }
                    $('.hour-content').text(getHour(date));
                    $('.num_porte-content').text(allPorte);
                    $('.lieu-content').text(lieu);

                    var status = resData[0].checkIn;
                    contentStatus= '';
                    if (status == "cloture") {
                        contentStatus = '{{ 'Enregistrement clôturée'|upper }}'
                    } else if (status == "departed") {
                        contentStatus= '{{ 'Parti'|upper }}'
                    } else if (status == "ouvert") {
                        contentStatus = '{{ 'Enregistrement ouvert'|upper }}'
                    }
                    $('.status-content').html(contentStatus)
                }
            });
        }
    </script>
{% endblock %}
