{% extends 'AppBundle:Front:base_display.html.twig'%}
{% block headerbody %}{% endblock %}
{% block mostviewbody %}
    <div>
        <div class="row">
            <div class="col-md-11">
                {#<img style="width: 100%; height: 100px; padding: 0 0" src="{{ asset('Images/20170529_090245_dc5d08378d0c6cefce3214f69ff3382a.jpg')}}">#}
                {% if flight[0]['logo'] != null %}
                    <img style="width: 100%; height: 100px; padding: 0 0;" src="{{ asset(flight[0]['logo'])}}">
                {% endif %}
            </div>
            <div class="col-md-1">
                {#<span style="font-size: 35px; color: #fff;">{{flight[0]['num_comptoir']}}</span>#}
                <span style="font-size: 75px; color: #36E8F5; font-weight: bold;">{{flight[0]['num_comptoir']}}{#20#}</span>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-md-11">
                <div class="col-md-6" style="float: left;">
                    {#<span style="font-size: 35px; color: #fff;">{{flight[0]['nom_vol']}}</span>&#35;&#125;#}
                    <div style="font-size: 120px;  color: #36E8F5; font-weight: bold; margin-top: -50px;" align="center">{{flight[0]['nom_vol']}}{#TT 235#}</div>
                </div>
                <div class="col-md-6" style="float: right; vertical-align: middle;" align="right">
                    <div class="row">
                        <div class="col-md-9">
                            <div style="font-size: 30px; color: #FBF479;font-weight: bold;" align="left">Heure du départ :</div>
                        </div>
                        <div class="col-md-3">
                        <span style="font-size: 35px; color: #fff;font-weight: bold;">{#12:55#}
                            {% if flight[0]['type'] == "depart" %}
                                {{flight[0]['heureDepart']|date('H:i')}}
                            {% else %}
                                {{flight[0]['heureArrivee']|date('H:i')}}
                            {% endif %}
                        </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div align="left" style="font-size: 30px; color: #FBF479;font-weight: bold;">Numéro porte d'embarquement :</div>
                        </div>
                        <div class="col-md-3">
                        <span style="font-size: 35px; color: #363636;font-weight: bold; background-color: #FBF479; padding: 5px 20px;">{#2,5,8#}
                            {% for val in flight %}
                                {{val['num_porte']}} {% if (loop.index != flight|length)  %} , {% endif %}
                            {% endfor %}
                        </span> {# TODO : A dynamiser #}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12" style="color: #fff;font-weight: bold; font-size: 150px;vertical-align: middle;" align="center">{#Sydney#}
                {% if flight[0]['type'] == "depart" %}
                    {{flight[0]['destination']}}
                {% else %}
                    {{flight[0]['depart']}}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="position: absolute; bottom: 0;background-color: #3D414D; padding: 0 0;" align="center">
                <div style="font-size: 140px;font-weight: bold; color: #fff;">{#Check-in#}
                    {% set status = flight[0]['checkIn'] %}
                    {% if status == "cloture" %}
                        <span class="badge badge-warning" style="font-size: 40px;">Enregistrement clôturée</span>
                    {% elseif status == "departed" %}
                        <span class="badge badge-info" style="font-size: 40px;">Parti</span>
                    {% elseif status == "ouvert" %}
                        <span class="badge badge-success" style="font-size: 40px;">Enregistrement ouvert</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {#<section class="display_content">
        <div class="departures">
             <h1 align="center" style="color: #fff">COMPTOIR</h1>  
        </div>
        <table class="table table-striped table-inverse">
        	<thead>
	        	<tr>
	                <th class="head_tabs">{{'Comptoir N°' | trans}}</th>
	                <th class="head_tabs">{{'Compagnie' | trans}}</th>
	                <th class="head_tabs">{{'Numéro de vol' | trans}}</th>
	                <th class="head_tabs">{{'Destination' | trans}}</th>
	                <th class="head_tabs">{{'Programmé' | trans}}</th>
	                <th class="head_tabs">{{'Statut' | trans}}</th>
	            </tr>
            </thead>
            <tbody class="content-info">
            	<tr>
            	{% if flight[0]['type'] == "depart" %}
                        <td class="content_tabs">{{flight[0]['num_comptoir']}}</div>
                        <td class="content_tabs">
                            {% if flight[0]['logo'] != null %}
                                <img style="width: 250px; height: 75px;" src="{{ asset(flight[0]['logo'])}}">
                            {% endif %}
                        </td>
                        <td class="content_tabs">{{flight[0]['nom_vol']}}</td>
                        <td class="content_tabs">
                            {% if flight[0]['type'] == "depart" %}
                                {{flight[0]['destination']}}
                            {% else %}    
                                {{flight[0]['depart']}}
                            {% endif %}
                        </td>
                        <td class="content_tabs">
                            {% if flight[0]['type'] == "depart" %}
                                {{flight[0]['heureDepart']|date('H:i')}}
                            {% else %}    
                                {{flight[0]['heureArrivee']|date('H:i')}}
                            {% endif %}
                        </td>
                        <td class="content_tabs">
                            {% set status = flight[0]['checkIn'] %}
                            {% if status == "cloture" %}
                                <span class="badge badge-warning" style="font-size: 40px;">Enregistrement clôturée</span>
                            {% elseif status == "departed" %}    
                                <span class="badge badge-info" style="font-size: 40px;">Parti</span>
                            {% elseif status == "ouvert" %} 
                                <span class="badge badge-success" style="font-size: 40px;">Enregistrement ouvert</span>
                            {% endif %}    
                        </td>  
                    {% endif %}
                
                {% if flight[0]['type'] == "depart" %}
                    <div class="border_final_raw"></div>
                {% endif %}
 
            	</tr>
        </table>
    </section>#}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("app/js/jquery-3.2.1.min.js")}}"></script>
    <script>
        $(document).ready(function(){
            $('div.container-fluid').css('background-color', '#0A0B10');
        })
    </script>
{% endblock %}
