{% extends 'AppBundle:Front:base_display.html.twig' %}
{% block mostviewbody %}
    {% if typeDisplayed == "depart" %}
        <h1 align="center" style="color: #fff">DEPART</h1>
    {% else %}
        <h1 align="center" style="color: #fff">ARRIVEE</h1>
    {% endif %}
    <table class="table table-striped table-inverse flight-info" data-typeDisplayed = "{{typeDisplayed}}" data-reseauDisplayed = "{{reseauDisplayed}}">
        <thead>
        <tr>
            <th class="head_tabs">{{'Numéro de vol' | trans}}</th>
            <th class="head_tabs">{{'Compagnie' | trans}}</th>
            <th class="head_tabs">{{'Destination' | trans}}</th>
            {% if typeDisplayed == "depart" %}
                <th class="head_tabs">{{'Heure Départ' | trans}}</th>
            {% else %}
                <th class="head_tabs">{{'Heure Arrivée' | trans}}</th>
            {% endif %}
            <th class="head_tabs">{{'Statut' | trans}}</th>
        </tr>
        </thead>
        <tbody class="content-info">
        {% for flight in flights %}
            <tr>
                {% if flight['type'] == typeDisplayed and flight['reseau'] == reseauDisplayed and flight['statut'] != 'termine'%}
                    <th class="content_tabs" scope="row"> {{flight['nom_vol']}} </th>
                    <td class="content_tabs">
                        {% if flight['logo'] != null %}
                            <img style="width: 250px; height: 75px;" src="{{ asset(flight['logo'])}}" alt="{{ flight['logo'] }}">
                        {% endif %}
                    </td>
                    <td class="content_tabs">
                        {% if typeDisplayed == "depart" %}
                            {{flight['destination']}}
                        {% else %}
                            {{flight['depart']}}
                        {% endif %}
                    </td>
                    <td class="content_tabs">
                        {% if typeDisplayed == "depart" %}
                            {{flight['heureDepart']|date('H:i')}}
                        {% else %}
                            {{flight['heureArrivee']|date('H:i')}}
                        {% endif %}
                    </td>
                    <td>
                        {% set status = flight['statut'] %}
                        {% if status == "annule" %}
                            <span class="badge badge-warning" style="font-size: 40px;">Annulé</span>
                        {% elseif status == "decolle" %}
                            <span class="badge badge-info" style="font-size: 40px;">Décollé</span>
                        {% elseif status == "embarquement" %}
                            <span class="badge badge-success" style="font-size: 40px;">Embarquement</span>
                        {% elseif status == "retarde" %}
                            <span class="badge badge-info" style="font-size: 40px;">Retardé</span>
                        {% elseif status == "pose" %}
                            <span class="badge badge-success" style="font-size: 40px;">Posé</span>
                        {% endif %}    
                    </td>
                {% endif %}
            </tr>
            {% if flight['type'] == typeDisplayed and flight['reseau'] == reseauDisplayed %}
                <tr>
                    <td colspan="5">{#<div class="border_final_raw"></div>#}</td>
                </tr>
            {% endif %}
        {% endfor%}
        </tbody>
    </table>
{% endblock %}
