<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}Bienvenue!{% endblock %}</title>
  <link href="{{ asset("app/css/app.css")}}" rel="stylesheet" type="text/css" />
  <link href="{{ asset("app/css/bootstrap.min.css")}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container fids" style="width: 100%; height: 100%; background-repeat-x: no-repeat; background-repeat-y: no-repeat;">
        <div class="row">
            <div class="content_list">
                <h2 style="color: #292b2c">Bonjour, bienvenue sur l'espace d'administration de FIDS</h2>
                <p id="time" style="color: #292b2c"></p>
                <ul class="list-group">
                    {#<li><a href="{{path('fids_flight_list', {'view' : 'iJ8Huf6levg'})}}" title=""><i class="iko international_depart"></i><span>{{'mesidentifiants'|trans|raw}}</span></a></li>#}
                    <li class="list-group-item justify-content-between">
                        <a href="{{path('fids_flight_list', {'type' : 'depart', 'reseau' : 'international'})}}" title=""><!--i class="iko_international_depart"></i--><span>{{'Vols de départ international'|trans|raw}}</span></a>
                        {#<span class="badge badge-default badge-pill">0</span>#}
                    </li>
                    <li class="list-group-item justify-content-between">
                        <a href="{{path('fids_flight_list', {'type' : 'arrivee', 'reseau' : 'international'})}}" title=""><!--i class="iko_international_depart"></i--><span>{{"Vols d'arrivée international"|trans|raw}}</span></a>
                        {#<span class="badge badge-default badge-pill">0</span>#}
                    </li>
                    <li class="list-group-item justify-content-between">
                        <a href="{{path('fids_flight_list', {'type' : 'depart', 'reseau' : 'national'})}}" title=""><!--i class="iko_international_depart"></i--><span>{{'Vols de départ national'|trans|raw}}</span></a>
                        {#<span class="badge badge-default badge-pill">0</span>#}
                    </li>
                    <li class="list-group-item justify-content-between">
                        <a href="{{path('fids_flight_list', {'type' : 'arrivee', 'reseau' : 'national'})}}" title="">
                            <span>{{"Vols d'arrivée national"|trans|raw}}</span>
                        </a>
                        {#<span class="badge badge-default badge-pill">0</span>#}
                    </li>
                    <li class="list-group-item justify-content-between">
                        <a id="check_in" href="{{path('fids_checkin_list')}}" title=""><!--i class="iko_international_arrival"></i--><span>{{'Liste Check In'|trans|raw}}</span></a>
                        {#<span class="badge badge-default badge-pill">0</span>#}
                    </li>
                    <li class="list-group-item justify-content-between">
                        <a id="check_in" href="{{path('fids_porte_list')}}" title=""><!--i class="iko_international_arrival"></i--><span>{{'Liste Porte'|trans|raw}}</span></a>
                        {#<span class="badge badge-default badge-pill">0</span>#}
                    </li>
                    <div id="check_in_list" style="display: none;">
                        <ul id="list">
                            <a href=""><li id="1">1</li></a>
                            <a href=""><li id="2">2</li></a>
                            <a href=""><li id="3">3</li></a>
                            <a href=""><li id="4">4</li></a>
                            <a href=""><li id="5">5</li></a>
                        </ul>
                    </div>
                    <li class="list-group-item justify-content-between">
                        <a href="{{path('fids_baggage_claim')}}" title=""><!--i class="iko_international_arrival"></i--><span>{{'Situtation bagage'|trans|raw}}</span></a>
                        {#<span class="badge badge-default badge-pill">0</span>#}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% block javascripts %}
    <script src="{{ asset("app/js/jquery-3.2.1.min.js")}}"></script>
    <script src="{{ asset("app/js/bootstrap.min.js")}}"></script>
    <script type="text/javascript">
        function formatDate(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            //var ampm = hours >= 12 ? 'PM' : 'AM';
            //hours = hours % 12;
            //hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            var strTime = hours + ':' + minutes + ':' + (seconds < 10 ? '0' + seconds : seconds);
            return date.getDate() + " " + setMonthToString((date.getMonth()+1)) + " " + date.getFullYear() + "  " + strTime;
        }
        var timestamp = '<?=time();?>';
        function updateTime(){
            var displayDate = Date(timestamp);
            var realDate = new Date(displayDate);
            $('#time').html(formatDate(realDate));
            timestamp++;
        }

        function setMonthToString($monthInt){
            
            $ret = '';
            switch ($monthInt){
                case 1 : $ret = 'Janvier' ; break ;
                case 2 : $ret = 'Février' ; break ;
                case 3 : $ret = 'Mars' ; break ;
                case 4 : $ret = 'Avril' ; break ;
                case 5 : $ret = 'Mai' ; break ;
                case 6 : $ret = 'Juin' ; break ;
                case 7 : $ret = 'Juillet' ; break ;
                case 8 : $ret = 'Aout' ; break ;
                case 9 : $ret = 'Septembre' ; break ;
                case 10 : $ret = 'Octobre' ; break ;
                case 11 : $ret = 'Novembre' ; break ;
                case 12 : $ret = 'Décembre' ; break ;
            }            
            return $ret;
        }

        $(document).ready(function () {
            setInterval(updateTime, 1000);

            $("#check_in").click(function() {
                $("#check_in_list").show();
                $("li#1").fadeToggle(500);
                $("li#2").fadeToggle(1000);
                $("li#3").fadeToggle(1500);
                $("li#4").fadeToggle(2000);
                $("li#5").fadeToggle(2500);
            });
        });
    </script>
{% endblock %}
</body>
</html>
