<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}Bienvenue!{% endblock %}</title>
  <link href="{{ asset("app/css/app.css")}}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
</head>
<body>
    <div class="container fids" style="width: 100%; height: 100%; background-repeat-x: no-repeat; background-repeat-y: no-repeat;">
        <div class="row">
            <div class="content_list">
                <h2 style="color: #fff">Bonjour, bienvenue sur l'espace d'administration de FIDS</h2>
                <p id="time" style="color: #fff"></p>
                <ul class="list-group">
                    {#<li><a href="{{path('fids_flight_list', {'view' : 'iJ8Huf6levg'})}}" title=""><i class="iko international_depart"></i><span>{{'mesidentifiants'|trans|raw}}</span></a></li>#}
                    <li class="list-group-item justify-content-between">
                        <a href="{{path('fids_flight_list', {'type' : 'depart', 'reseau' : 'international'})}}" title=""><!--i class="iko_international_depart"></i--><span>{{'Vols de départ international'|trans|raw}}</span></a>
                        <span class="badge badge-default badge-pill">0</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        <a href="{{path('fids_flight_list', {'type' : 'arrivee', 'reseau' : 'international'})}}" title=""><!--i class="iko_international_depart"></i--><span>{{"Vols d'arrivée international"|trans|raw}}</span></a>
                        <span class="badge badge-default badge-pill">0</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        <span>{{'Vols de départ national'|trans|raw}}</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        <a href="{{path('fids_flight_list', {'type' : 'arrivee', 'reseau' : 'national'})}}" title=""><!--i class="iko_international_depart"></i--><span>{{"Vols d'arrivée national"|trans|raw}}</span></a>
                        <span class="badge badge-default badge-pill">1</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        <a id="check_in" href="{{path('fids_checkin_list')}}" title=""><!--i class="iko_international_arrival"></i--><span>{{'Liste Check In'|trans|raw}}</span></a>
                        <span class="badge badge-default badge-pill">0</span>
                    </li>
                    <div id="check_in_list" style="display: none;">
                        <ul id="list">
                            <a href=""><li id="1">1</li></a>
                            <a href=""><li id="2">2</li></a>
                            <a href=""><li id="3">3</li></a>
                            <a href=""><li id="4">4</li></a>
                            <a href=""><li id="5">5</li></a>
                        </ul>
                    </div>
                    <li class="list-group-item justify-content-between">
                        <a href="{{path('fids_baggage_claim')}}" title=""><!--i class="iko_international_arrival"></i--><span>{{'Situtation bagage'|trans|raw}}</span></a>
                        <span class="badge badge-default badge-pill">0</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var timestamp = '<?=time();?>';
        function timeConverter(UNIX_timestamp){
            var a = UNIX_timestamp;
            var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
            var year = a.getFullYear();
            var month = months[a.getMonth()];
            var date = a.getDate();
            var hour = a.getHours();
            var min = a.getMinutes();
            var sec = a.getSeconds();
            var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
            return time;
        }
        function updateTime(){
            $('#time').html(Date(timestamp));
            timestamp++;
        }

        $(document).ready(function () {
            setInterval(updateTime, 1000);

            $("#check_in").click(function() {
                $("#check_in_list").show();
                $("li#1").fadeToggle(500);
                $("li#2").fadeToggle(1000);
                $("li#3").fadeToggle(1500);
                $("li#4").fadeToggle(2000);
                $("li#5").fadeToggle(2500);
            });
        });
    </script>
{% endblock %}
</body>
</html>
