<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}Bienvenue!{% endblock %}</title>
  <link href="{{ asset("app/css/app.css")}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="fids">
        <div class="content_list">
            <ul>
                {#<li><a href="{{path('fids_flight_list', {'view' : 'iJ8Huf6levg'})}}" title=""><i class="iko international_depart"></i><span>{{'mesidentifiants'|trans|raw}}</span></a></li>#}
                <li><a href="{{path('fids_flight_list', {'type' : 'depart', 'reseau' : 'international'})}}" title=""><!--i class="iko_international_depart"></i--><span>{{'Vols de départ international'|trans|raw}}</span></a></li>
                <li><a href="{{path('fids_flight_list', {'type' : 'arrivee', 'reseau' : 'international'})}}" title=""><!--i class="iko_international_depart"></i--><span>{{"Vols d'arrivée international"|trans|raw}}</span></a></li>
                <li><a href="{{path('fids_flight_list', {'type' : 'depart', 'reseau' : 'national'})}}" title=""><!--i class="iko_international_depart"></i--><span>{{'Vols de départ national'|trans|raw}}</span></a></li>
                <li><a href="{{path('fids_flight_list', {'type' : 'arrivee', 'reseau' : 'national'})}}" title=""><!--i class="iko_international_depart"></i--><span>{{"Vols d'arrivée national"|trans|raw}}</span></a></li>
                <li><a id="check_in" href="{{path('fids_checkin_list')}}" title=""><!--i class="iko_international_arrival"></i--><span>{{'Liste Check In'|trans|raw}}</span></a></li>
                <div id="check_in_list" style="display: none;">
                    <ul id="list">
                        <a href=""><li id="1">1</li></a>
                        <a href=""><li id="2">2</li></a>
                        <a href=""><li id="3">3</li></a>
                        <a href=""><li id="4">4</li></a>
                        <a href=""><li id="5">5</li></a>
                    </ul>
                </div>
                <li><a href="{{path('fids_baggage_claim')}}" title=""><!--i class="iko_international_arrival"></i--><span>{{'Situtation bagage'|trans|raw}}</span></a></li>
            </ul>
        </div>
    </div>
{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#check_in").click(function() {
                $("#check_in_list").show();
                $("li#1").fadeToggle(500);
                $("li#2").fadeToggle(1000);
                $("li#3").fadeToggle(1500);
                $("li#4").fadeToggle(2000);
                $("li#5").fadeToggle(2500);
            });
        });
    </script>
{% endblock %}
</body>
</html>
