{% extends 'AppBundle:Front:base_display.html.twig' %}
{% block titleInfo %}
    <h1 align="center" style="color: #292b2c">LISTE PORTE</h1>
{% endblock %}
{% block mostviewbody %} <br>
    <table class="table table-striped table-inverse flight-info" style="background-color: #0d12c3;">
        <thead>
        <tr>
            <th class="head_tabs">{{'Porte N°' | trans}}</th>
            <th class="head_tabs">{{'Compagnie' | trans}}</th>
            <th class="head_tabs">{{'Numéro de vol' | trans}}</th>
            <th class="head_tabs">{{'Destination' | trans}}</th>
            <th class="head_tabs">{{'Programmé' | trans}}</th>
            <th class="head_tabs">{{'Statut' | trans}}</th>
            <th class="head_tabs">{{ '    ' }}</th>
        </tr>
        </thead>
        <tbody>
        {% for flight in checkInList %}
            <tr>
                {% if flight['type'] == "depart" %}
                    <td class="content_tabs">{{flight['num_porte']}} ({{flight['reseau']}})</td>
                    <td class="content_tabs">
                        {% if flight['logo'] != null %}
                            <img style="width: 250px; height: 75px;" src="{{ asset(flight['logo'])}}">
                        {% endif %}
                    </td>
                    <td class="content_tabs" style="color: #ff9900">{{flight['nom_vol']}}</td>
                    <td class="content_tabs">
                        {% if flight['type'] == "depart" %}
                            {{flight['destination']}}
                        {% else %}
                            {{flight['depart']}}
                        {% endif %}
                    </td>
                    <td class="content_tabs" style="color: #ff9900">
                        {% if flight['type'] == "depart" %}
                            {{flight['heureDepart']|date('H:i')}}
                        {% else %}
                            {{flight['heureArrivee']|date('H:i')}}
                        {% endif %}
                    </td>
                    {% set colorCell = '' %}
                    {% set status = flight['statut'] %}
                    {% if status == "annule" %}
                        {% set colorCell = '#cc0000' %}
                    {% elseif status == "decolle" %}
                        {% set colorCell = '#009900' %}
                    {% elseif status == "termine" %}
                        {% set colorCell = '#009900' %}
                    {% elseif status == "embarquement" %}
                        {% set colorCell = '#009900' %}
                    {% elseif status == "retarde" %}
                        {% set colorCell = '#996600' %}
                    {% elseif status == "enregistrment" %}
                        {% set colorCell = '#009900' %}
                    {% elseif status == "retarde" %}
                        {% set colorCell = '#cc0000' %}
                    {% elseif (status == "atterri" or status == "pose") %}
                        {% set colorCell = '#cc0000' %}
                    {% elseif status == "en cours" %}
                        {% set colorCell = '#cc0000' %}
                    {% endif %}
                    <td class="content_tabs" style="padding: 0; background-color: {{ colorCell }}; vertical-align : middle">
                        {% if status == "annule" %}
                            {{ 'Annulé'|upper }}
                        {% elseif status == "decolle" %}
                            {{ 'Décollé'|upper }}
                        {% elseif status == "embarquement" %}
                            {{ 'Embarquement'|upper }}
                        {% elseif status == "enregistrement" %}
                            {{ 'Enregistrement'|upper }}
                        {% elseif status == "retarde" %}
                            {{ 'Retardé'|upper }}
                        {% elseif (status == "atterri" or status == "pose") %}
                            {{ 'Attérri'|upper }}
                        {% elseif status == "en cours" %}
                            {{ 'En cours'|upper }}
                        {% endif %}
                    </td>
                    <td class="content_tabs">
                        <a href="{{path('fids_porte_number', {'id' : flight.id })}}" >
                            Lien
                        </a>
                    </td>
                {% endif %}
            </tr>
            {#{% if flight['type'] == "depart" %}
                <div class="border_final_raw"></div>
            {% endif %}#}
        {% endfor%}
        </tbody>
    </table>
{% endblock %}